<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xps.pregnancy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calendar_activity"/>
        <activity android:name=".Advice_activity"/>
        <activity android:name=".More_activity"/>
        <activity android:name=".eej_activity"/>
        <activity android:name=".JiremseniiVe_activity"/>
        <activity android:name=".HoyrSar_activity"/>
        <activity android:name=".DorwonSar_activity"/>
        <activity android:name=".DoloonSar_activity"/>
        <activity android:name=".EsonSar_activity"/>
        <activity android:name=".NegNas_activity"/>
        <activity android:name=".AsargaaniiZowlogoo_activity"/>
        <activity android:name=".Lesson1_activity"/>
        <activity android:name=".FourText_activity"/>
        <activity android:name=".SevenText_activity"/>
        <activity android:name=".NineText_activity"/>
    </application>
</manifest>